/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/

body{
    padding-top: 100px;
    font-family: sans-serif;
    font-size: 10px;
}

img{
    max-width: 100%;
    display: block;
}

/*Utils*/

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.border{
    border: 2px dashed black;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    flex-basis: calc( 100% / 3 - 10px );
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
}

/*Header*/

.navbar{
    height: 80px;
    padding-top: 25px;  /*controllare*/
}

header{
    background-color: #FD6900;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.boxes{
    display: flex;
    align-items: center; 
    align-content: center;
}

.nav-box{
    flex-basis: calc( 100% / 3 );
}

.logo{
    width: 100px;
    display: block;
    margin: 0 auto;
}

.nav-symbol{
    text-align: right;
}

.n-space{
    /*margin-bottom: 10px;*/
    padding-right: 10px;
   
}

/*Main*/

.m-container{
    max-width: 1200px;
    margin: 0 auto;
}

.s-red{
    color: red;
}

.old-price{
    text-decoration: line-through;
}

.card{
    position: relative;
}

.discount{
    background-color: red;
    position: absolute;
    color: white;
    bottom: 60px;
    left: 0;
}

.sostenibility{
    background-color: green;
    position: absolute;
    color: white;
    bottom: 60px;
    left: 25px;
}

.sost-var{
    left: 0;
    bottom: 60px;
}

.heart{
    padding: 10px 10px;
    background-color: white;
    position: absolute;
    color: black;
    top: 10px;
    right: 0;
}

/*DOUBLE image*/

.img1{
    display: block;
}

.img2{
    display: none;
}

#cambio{

}

#cambio:hover .img1{
    display: none;
}

#cambio:hover .img2{
    display: block;
}